*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

#modal{
    width: 50vw;
    height: 50vh;
    position: relative;
    border-radius: 5px;
    border: 1px solid black;
}
#modal svg{
    width: 5%;
    position: absolute;
    left: 94%;
    cursor: pointer;
}
#modal svg path{
    color: red;
}

.modal-top{
    margin-top: 1%;
    height: 35%;
    display: flex;
    align-items: center;
}
.modal-top :nth-child(1){
    width: 15%;
    height: 80%;
    margin:   0 0 0 10%;
}
.modal-top :nth-child(2),.modal-top :nth-child(3){
    width: 25%;
    height: 80%;
    margin-left: 9%;
}

.modal-description{
    height: 48%;
    padding: 5px;
}

.modal-link{
    height: 12%;
    padding: 2px;
}