@import './variables';
@import './placeholders';

*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'inter';
    background-color: $fond-noir;
}

section{
    min-height: 100vh;
    border: 1px solid white;
    h3{
        height: 10vh;
        display: flex;
        align-items: center;
        margin-left: 2%;
    }
    .content-section{
        height: 90vh;
    }
}

nav{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    text-transform: uppercase;
    ul{
        display: flex;
        justify-content: space-around;
        width: 30%;
        align-items: center;
        img{
            width: 13%;
        }
    }
}

ul{
    list-style: none;
}

p,h1,h2,h3,h4,h5,a,nav,ul{
    color: white;
}

// classe
.text-yellow{
    color: $yellow;
}

.visibility-1{
    opacity: 1!important;
}

// composant
.main-project{
    width: 23%;
    height: 85%;
    img{
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }
}


// section
#home{
    height: 90vh;
    p{
        margin: 13% 0 8% 4%;
        font-size: 3rem;
    }
    ul{
        height: 30%;
        width: 30%;
        margin-left: auto;
        display: flex;
        display: flex;
        align-items: center;
        justify-content: space-around;
        li{
            width: 13%;
            height: 28%;
        }
    }
}

#about{
    .content-section{
        display: flex;
        .part-section-about{
            border: 1px solid orange;
            width: 50%;
        }
        .part-section-about:nth-child(1){
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .part-section-about:nth-child(2){
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                border-radius: 15px;
                width: 50%;
            }
        }
    }
}

// projet
.content-project-option{
    height: 17%;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    li{
        width: 15%;
        height: 30%;
        margin: 0 8%;
        padding: 0 1%;
        opacity: 0;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid $bleu-gris;
    }
    li:nth-child(1){
        opacity: 1!important;
    }
}
.content-project{
    height: 83%;
    width: 100%;
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

// experience
.content-experience-option{
    border: 1px solid red;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

// contact
#contact{
    height: 90vh;
    display: flex;
    border: 1px solid red;
    .part-contact{
        width: 50%;
        height: 100%;
        border: 1px solid blue;
        img{
            width: 49%;
            height: 70%;
            border-radius: 10px;
            border: 1px solid red;
        }
    }
    .part-contact:nth-child(1){
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .part-contact:nth-child(2){
        form{
            height: 100%;
            border: 5px solid white;
            #message{
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: column;
                input,textarea{
                    border: 1px solid $noir;
                    background-color: $fond-noir;
                }
                div:nth-child(1),div:nth-child(2){
                    width: 50%;
                    height: 8%;
                }
                input{
                    height: 100%;
                    width: 100%;
                }
                div:nth-child(3){
                    height: 30%;
                    width: 55%;
                    textarea{
                        width: 100%;
                        height: 100%;
                    }
                }
                div:nth-child(4){
                    width: 55%;
                    height: 20%;
                    #message_choice{
                        width: 100%;
                        height: 90%;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        input{
                            width: 5%;
                            border: 0px;
                        }
                    }
                }
                button{
                    padding: 3px 20px;
                }
            }
        }
    }
}


// footer
footer{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    div{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    div:nth-child(1){
        h2{
            margin-left: 7%;   
        }
        ul{
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            li{
                font-size: 1.2rem;
            }
        }
    }
    div:nth-child(2){
        a{
            margin-left: auto;
            margin-right: 2%;
            font-size: 1.1rem;
            // border: 1px solid red;
        }
    }
}