@import './_variables';
@import './_placeholders';

*,::before,::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color:  $fond-noir;
}

section{
    height: 100vh;
    @extend %flex-center;
    position: relative;
    .title-section{
        color: $blanc;
        font-size: 1.8vw;
        position: absolute;
        top: 0.5%;
        left: 1%;
    }
    .content-section{
        width: 90vw;
        height: 80vh;
    }
}

a{
    text-decoration: none;
}

h1,h3,p{
    color: $blanc;
}

// apparition
.appear{
    display: block!important;
}

// bar de navigation
nav{
    height: 10vh;
    padding: 1%;
    @extend %flex-beetween;
    color:  $blanc-casse;
    ul{
        width: 40%;
        @extend %list;
    }
    a{
        color:  $blanc-casse;
    }
}

// home
#home{
    padding-top: 5%;
    height: 90vh !important;
    display: block;
    h1{
        font-size: 3vw;
        margin-left: 2%;
    }
    h2{
        margin-top: 10%;
        font-size: 2.5vw;
        color: $bleu-gris;
        text-align: center;
    }
}

// en apprendre plus sur moi
#learn-more{
    color: $blanc;
    @extend %flex-center;
    .content-section{
        @extend %flex-wrap-around;
        .part-content{
            width: 45%;
            height: 95%;
            @extend %flex-center;
        }
        .part-content:nth-child(1) p{
            text-align: justify;
            word-wrap: break-word;
            white-space: pre-line;
        }
        .part-content:nth-child(2){
            width: 25%;
            height: 50%;
            img{
                border-radius: 25px;
                width: 90%;
            }
        }
    }
    ul{
        width: 50%;
        @extend %list;
        li{
            width: 5%;
            height: 5%;
        }
        li.actif{
            color: $blanc;
        }
    }
}

// section projet
#container-projet{
    display: block;
    ul{
        height: 20vh;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        li{
            cursor: pointer;
            border-radius: 15px;
            border: 1.5px solid $bleu-gris;
            width: 15%;
            padding:  0.4% 0.2%;
        }
        li:nth-child(1){
            display: flex;
            justify-content: space-between;
            svg{
                width: 10%;
            }
            svg path{
                color: #000;
            }
        }
    }
    .container-project{
        height: 80vh;
        .part-projet{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        #main-projet{
            .projet{
                width: 25%;
                height: 75%;
                border-radius: 3%;
                background-color: $bleu-gris;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 3%;
                }
            }
        }
    }
}

// container information
#container-information{
    display: block;
    .title-section{
        color: $blanc;
        font-size: 1.8vw;
        position: absolute;
        top: 0.5%;
        left: 1%;
    }
    .container-option{
        width: 100%;
        height: 12vh;
        margin-top: 4%;
        @extend %list;
        li{
            width: 10%;
            padding: 3px 18px;
            cursor: pointer;
            min-width: fit-content;
            text-transform: uppercase;
            a{
                color: $bleu-gris;
            }
        }
        li.actif{
            color: $blanc-casse;
        }
    }
    .content{
        display: none;
        min-height: 80vh;
        .studies{
            height: 100%;
            margin-left: 8%;
            .container-studies{
                width: 60%;
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 5%;
                li{
                    list-style: none;
                    height: 30%;
                    padding: 20px 10px;
                    width: 70%;
                    p{
                        color: $bleu-gris;
                    }
                }
            }
        }
        .internship{
            width: 70%;
            height: 100%;
            margin-left: 30%;
            border: 1px solid white;
        }
        .certification{
            height: 100%;
            display: flex;
            .container-certification{
                width: 82%;
                height: 100%;
                @extend %flex-wrap-around;
                img{
                    width: 4%;
                    height: 7%;
                    background-color: $bleu-gris;
                    border: 1px solid $blanc-casse;
                }
            }
            div:nth-child(2){
                width: 18%;
            }
        }
        .technologie{
            height: 100%;
            display: flex;
            .container-technologie{
                width: 60%;
                height: 100%;
                @extend %flex-around;
                img{
                    width: 20%;
                }
            }
            div:nth-child(2){
                width: 30%;
                border-left: 1px solid $blanc-casse; 
                @extend %flex-column-around;
                img{
                    width: 40%;
                    height: 25%;
                    border: 1px solid white;
                }
                p{
                    width: 85%;
                    height: 40%;
                    padding: 1% 2%;
                    border: 1px solid white;
                }
            }
        }
    }
    .content.actif{
        display: block!important;
    }
}

// contact
#contact{
    height: 85vh;
    .content-section{
        height: 90%;
        width: 100%;
        height: 89.5%;
        display: flex;
        .part-section{
            width: 50%;
        }
        .part-section:nth-child(1){
            @extend %flex-center;
            img{
                width: 65%;
                border-radius: 10px;
            }
        }
        .part-section:nth-child(2){
            color: white;
            h2{
                height: 10vh;
                margin-left: 2%;
                @extend %flex-center;
            }
            form{
                width: 100%;
                height: 70.5vh;
                #message{
                    @extend %flex-wrap-around;
                    height: 100%;
                    input,textarea,button{
                        outline: none;
                        color: $bleu-gris;
                        border: 2px solid #000;
                        background-color: $fond-noir;
                    }
                    input:focus {
                        outline: none;
                    }
                    ::placeholder{
                        color:  #F1F1F1;
                    }
                    div{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                    }
                    div:nth-child(1),div:nth-child(2){
                        height: 8%;
                        input{
                            width: 60%;
                            height: 100%;
                        }
                    }
                    div:nth-child(3){
                        height: 40%;
                        textarea{
                            width: 70%;
                            height: 100%;
                        }
                    }
                    div:nth-child(4){
                        display: flex;
                        flex-direction: column;
                        label{
                            font-size: 1.4vw;
                        }
                        #message_choice{
                            width: 50%;
                            height: 50%;
                            @extend %flex-wrap-around;
                            label{
                                font-size: 1.1vw;
                            }
                            input,label{
                                width: 25%;
                                height: 50%;
                            }
                        }
                    }
                    button{
                        padding: 1% 4%;
                        color: $blanc;
                    }
                }
            }
        }
    }
}

// footer
footer{
    height: 15vh;
    display: flex;
    .part-footer:nth-child(1){
        display: flex;
        justify-content: space-between;
        ul{
            font-size: 1.4vw;
        }
    }
    .part-footer:nth-child(2){
        ul{
            width: 60%;
            display: flex;
            margin-left: auto;
            li{
                width: 10%;
                svg{
                    width: 100%;
                }   
            }
        }
        a{
            margin-left: 55%;
            font-size: 1.3vw;
            color: $blanc;
        }
    }
}

.part-footer{
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    ul{
        @extend %list;
    }
}