<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Portfolio{% endblock %}</title>
        <link rel="icon" href="{{asset("img/eternal.webp")}}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset("style/style.css")}}">
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
    <footer>
        <div>
            <h2>MARCUS&nbsp;FAVERNAY</h2>
            <ul>
                <li>Accueil</li>
                <li>Projet</li>
                <li>Expérience</li>
                <li>Contact</li>
            </ul>
        </div>
        <div>
            <a href"mailto:marcus.favernay@lyceestvincent.fr">marcus.favernay@lyceestvincent.fr</a>
        </div>
    </footer>
    <script src="{{asset("script/script.js")}}"></script>
</html>
