{% block mainProject %}
    <div class="main-project">
        {% if project.image is defined %}
                <img 
                    src="{{asset(project.image.link)}}" 
                    alt="{{project.image.alt}}"
                >
        {% endif %}
    </div>
{% endblock %}