{% block mainProject %}
    <div class="main-project">
        {% for image in images %}
        
            {# {% if image.id == project.image %}
                <img src="{{ image.link }}" >
            {% endif %} #}
        {% endfor %}
    </div>
{% endblock %}