<div class="studies">
    <div class="container-studies">
        {% for study in studies %}
            <li>
                <h3>{{study.name}}</h3>
                <p>
                    {{study.description}}
                </p>
            </li>
        {% endfor %}
    </div>
</div>