<div class="technologie">
    <div class="container-technologie">
    {% for technology in  technologies %}
        <img src="{{asset(technology.image.link)}}" alt="{{technology.image.alt}}">
    {% endfor %}
    </div>
    <div>
        <img src="#" alt="#">
        <p>description :</p>
    </div>
</div>